<div class="page">

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="example-card ">
      <mat-card-header>
        <mat-card-title>   <h3 class="card-title">Enter new password </h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <form class="form-log-in mt-3 example-form"  [formGroup]="PasswordForm">
              <div class="form-group text-left">
                  <label for="password">Password<span class="red-color"> *</span></label>
                  <input formControlName="password" class="form-control  form-control-lg" placeholder="************" type="password" [(ngModel)]="password">
                  <div *ngIf="PasswordForm.controls['password'].touched && PasswordForm.controls['password'].hasError('required')" class="error-msg alert alert-danger text-left">Password is required</div>
                  <div *ngIf="PasswordForm.controls['password'].touched && PasswordForm.controls['password'].hasError('pattern')" class="error-msg alert alert-danger text-left">Password must contain UpperCases, LowerCases, Numbers, SpecialCharacters and at least 9 characters long.</div>
              </div>
              <div class="form-group text-left">
                  <label for="confirmPassword">Confirm Password<span class="red-color"> *</span></label>
                  <input formControlName="confirmPassword" class="form-control form-control-lg" placeholder="************" type="password"  [(ngModel)]="confirmPassword">
                  <div *ngIf="PasswordForm.controls['confirmPassword'].touched && !PasswordForm.controls['confirmPassword'].valid" class="error-msg alert alert-danger text-left">Confirm Password is required</div>
                  <div *ngIf="PasswordForm.controls['confirmPassword'].touched && PasswordForm.value.password != PasswordForm.value.confirmPassword" class="error-msg alert alert-danger text-left">Passwords must be same.</div>
                  <!-- <span id="message"></span> -->
            </div>


          </form>
      </mat-card-content>
      <button class="basic-button mt-4" mat-raised-button (click)="ResetPassword()" [disabled]="disabledSubmitButton">Change Password</button>
    </mat-card>

                  <ngx-spinner bdColor="rgba(51,51,51,0.8)"
                  size="medium" color="#fff" type="ball-scale-multiple">
                  <p style="font-size: 20px; color: white">Loading...</p>
                </ngx-spinner>
  </div>
  </div>

