<div class="page">

    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>    <h3 class="card-title"> Forget Your Password?</h3>  
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
           <form class="example-form mt-3 "  [formGroup]="EmailForm">
                    <mat-form-field class="example-full-width">

                    <!-- <label for="name">Email Address<span class="red-color"> *</span></label> -->
                    <input matInput formControlName="email" placeholder="Email" type="email" [(ngModel)]="email">
                    <div *ngIf="EmailForm.controls['email'].touched && EmailForm.controls['email'].hasError('required')" class="error-msg alert alert-danger text-left">Email required</div>
                    <div *ngIf="EmailForm.controls['email'].touched && EmailForm.controls['email'].hasError('pattern')" class="error-msg alert alert-danger text-left">Enter proper Email.</div>
                  </mat-form-field>


            </form>
          </mat-card-content>
          <button mat-raised-button (click)="sendEmail()" [disabled]="!EmailForm.valid || !disableButton" class="basic-button mt-2">Reset Password</button>

        </mat-card>

                      <ngx-spinner bdColor="rgba(51,51,51,0.8)"
                      size="medium" color="#fff" type="ball-scale-multiple">
                      <p style="font-size: 20px; color: white">Loading...</p>
                    </ngx-spinner>
      </div>
  </div>

